@{
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model EditCountryVM

<h1>Edit Country</h1>

<hr />

<form method="post" asp-action="Edit" asp-controller="Country" id="createForm">
    <input type="hidden" asp-for="Id" />
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="control-label">Country</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-secondary" onclick="cancel()">Cancel</button>
</form>

<script>
    function cancel() {
        history.back();
    }
</script>
